**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Brandon Ng
- Sophia Yu
- Sandra Gomez
- Aydin Tabatabai
- Aarya Patel

# Research Question

How has the introduction of AI applications such as ChatGPT affected UCSD students’ grades? More specifically, how has ChatGPT affected grades by schools, divisions, and departments?

## Background and Prior Work

In recent years, artificial intelligence has gradually broadened its scope with the emergence of powerful generative language models such as OpenAI’s ChatGPT. Since its launch in November 2022, ChatGPT represented a pivotal breakthrough in natural language processing, providing users the ability to engage in human-like conversations with AI. This innovation has revolutionized many industries, optimizing workflows and providing invaluable assistance to professionals. Furthermore, ChatGPT’s introduction has impacted individuals, providing users with a tool to not only help them throughout their daily life but also assist them through their academic endeavors. 

However, as ChatGPT’s presence grew, debates arose regarding how AI impacts learning among students. After a year since it was launched, ChatGPT was already being used by 30% of college students<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1), and this number continues to increase today. Many professors and even students have expressed issues regarding the ethical implementation of AI in education, highlighting concerns about its potential to enable academic dishonesty and break integrity.

In response, educational institutions have begun to address these issues. For example, UCSD has proactively engaged with this problem by implementing policies and guidelines concerning the use of AI tools like ChatGPT in academic settings. The school strongly encourages students to not use ChatGPT, unless approved by their professor or using it to aid brainstorming. <a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) In addition, they have heavily emphasized the consequences of using ChatGPT, including being suspended and failing the class.

Beyond policies, there are also other tools that have emerged to combat academic integrity violations involving ChatGPT, such as GPTZero—a tool created to identify whether a piece of text is written by AI. Especially for professors who are worried about plagiarized essays, GPTZero serves as a new tool to address their concerns. <a name="cite_ref-3"></a>[<sup>3</sup>](#cite_note-3) This creation has even inspired the developer of ChatGPT, OpenAI, to take on this challenge to prevent AI plagiarism and other wrong doings.

This appearance of AI presents a unique opportunity to explore the impact of ChatGPT and similar tools on academic integrity, student grades, and the broader educational landscape. Ever since ChatGPT was released, there have been numerous studies that delve into the impact and ethics of artificial intelligence in education. For example, in a study conducted by Scientific American, the researchers explored how ChatGPT can assist in academic tasks, helping students achieve notable grades. <a name="cite_ref-4"></a>[<sup>4</sup>](#cite_note-4) On the other hand, another study focused on analyzing the impact of AI chatbots on high-education institutions, raising concerns about its negative impact on human-based interaction and learning. <a name="cite_ref-5"></a>[<sup>5</sup>](#cite_note-5)

This appearance of AI presents a unique opportunity to explore the impact of ChatGPT on student grades, while also considering the wider influence of technology on society. It encourages us to investigate how GPT and similar tools may transform industries beyond education, from healthcare and science to business and creative arts, potentially reshaping the global economic and social landscape. 

1. <a name="cite_note-1"></a> [^](#cite_ref-1) (05 Sep 2023) ONE-THIRD OF COLLEGE STUDENTS USED CHATGPT FOR SCHOOLWORK DURING THE 2022-23 ACADEMIC YEAR . *Intelligent*. https://www.intelligent.com/one-third-of-college-students-used-chatgpt-for-schoolwork-during-the-2022-23-academic-year/#:~:text=30%25%20of%20college%20students%20used,the%20tool%20to%20another%20student 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Q: Is it cheating to use ChatGPT?. *UCSanDiego Academic Integrity*. https://academicintegrity.ucsd.edu/excel-integrity/ai-in-education.html
3. <a name="cite_note-3"></a> [^](#cite_ref-3) Bowman, E. (09 Jan 2023) A college student created an app that can tell whether AI wrote an essay. *NPR*. https://www.npr.org/2023/01/09/1147549845/gptzero-ai-chatgpt-edward-tian-plagiarism
4. <a name="cite_note-4"></a> [^](#cite_ref-4) Leffer, L. (25 Aug 2023) ChatGPT Can Get Good Grades. What Should Educators Do about It?. *Scientific American*. https://www.scientificamerican.com/article/chatgpt-can-get-good-grades-what-should-educators-do-about-it/
5. <a name="cite_note-5"></a> [^](#cite_ref-5) Dempere, J., et al. (08 Sep 2023) The impact of ChatGPT on higher education. *Frontiers*. https://www.frontiersin.org/articles/10.3389/feduc.2023.1206936/full

# Hypothesis

Despite concerns about ChatGPT's accuracy and its potential impact on student motivation, we believe that grades have improved since the introduction of ChatGPT. Its efficiency and versatile capabilities, ranging from homework assistance to coding, have played a significant role in fostering an academic environment where achieving high grades is easier and more attainable.

# Data

## Data overview

- Dataset #1
  - Dataset Name: UCSD CAPES Data
  - Link to the dataset: https://www.kaggle.com/datasets/sanbornpnguyen/ucsdcapes?utm_medium=social&utm_campaign=kaggle-dataset-share
  - Number of observations: 63363
  - Number of variables: 11

UCSD CAPES Data is a Kaggle dataset that contains UCSD's course evaluation data from 2007 to 2023. The dataset contains both categorical variables such as instructor, course title, and quarter and numerical observations like study hours per week and average grade expected/received. In the UCSD CAPES dataset, we will be using the following variables: instructor name, course number and title, quarter the course was taught, number of hours spent studying, and average grade received in the class. 

  - Instructor (object): name of the instructor
  - Course (object): code and title of the course
  - Quarter (object): quarter that the course was taught
  - Study Hours per Week (float): number of hours spent studying for the course
  - Average Grade Received (object): average grade received in the course, including letter grade and GPA
  
Some limitations in our dataset include variables regarding UCSD [schools](https://evc.ucsd.edu/about/Divisions%20and%20Schools.html), [departments](https://ucsd.edu/academics/academics-detail.html), and course level. Therefore we will be manually incorporate that data ourselves.

To wrangle and preprocess the dataset, tasks may involve standardizing data formats, ensuring consistency in naming conventions, and handling missing values. Furthermore, the data will need to be sorted and categorized based on which school, department, or division it falls under.

## CAPES Dataset

In [1]:
import pandas as pd
import numpy as np
import re

### Fetch Data and Store into Dataframe

In [2]:
capes_df = pd.read_csv('capes_data.csv')
capes_df.head()

,Instructor,Course,Quarter,Total Enrolled in Course,Total CAPEs Given,Percentage Recommended Class,Percentage Recommended Professor,Study Hours per Week,Average Grade Expected,Average Grade Received,Evalulation URL
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies (A),SP23,66,48,93.5%,100.0%,2.80,A- (3.84),B+ (3.67),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research (A),SP23,20,7,100.0%,100.0%,2.50,A- (3.86),A- (3.92),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
2,Jones Ian William Nasser,ANAR 111 - Foundations of Archaeology (A),SP23,16,3,100.0%,100.0%,3.83,B+ (3.67),NaN,https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ (A),SP23,26,6,100.0%,83.3%,3.83,B+ (3.50),B (3.07),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica (A),SP23,22,9,100.0%,100.0%,5.17,A (4.00),A (4.00),https://cape.ucsd.edu/CAPEReport.aspx?sectioni...

### Dropping Irrelevant Columns
Many columns, including Total CAPEs Given and Total Enrolled in Course, are not relevant for our project. Thus, we are removing them completely from our dataframe.

In [3]:
capes_df = capes_df.drop([
    'Total Enrolled in Course',
    'Total CAPEs Given',
    'Percentage Recommended Class',
    'Percentage Recommended Professor',
    'Average Grade Expected',
    'Evalulation URL'
], axis=1)
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies (A),SP23,2.80,B+ (3.67)
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research (A),SP23,2.50,A- (3.92)
2,Jones Ian William Nasser,ANAR 111 - Foundations of Archaeology (A),SP23,3.83,NaN
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ (A),SP23,3.83,B (3.07)
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica (A),SP23,5.17,A (4.00)

### Remove Rows with Null Values
Any rows that contain missing information will have no impact on specific variable distributions. Thus, we are removing them for better analysis.

In [4]:
# Identify which columns contain null values
null_columns = capes_df.isnull().any()
print("Columns with null values: ", null_columns[null_columns].index.tolist())

# Drop rows that contain null values
capes_df = capes_df.dropna(subset=['Study Hours per Week', 'Average Grade Received'])
capes_df.head()

Columns with null values:  ['Study Hours per Week', 'Average Grade Received']

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies (A),SP23,2.80,B+ (3.67)
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research (A),SP23,2.50,A- (3.92)
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ (A),SP23,3.83,B (3.07)
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica (A),SP23,5.17,A (4.00)
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution (A),SP23,2.50,B- (2.95)

### Clean Course Column
The course column contains the information to identify each class. It is a string that contains the department which the class is from, course number, full name of the course, and the section if there are multiple offered during the same quarter. To clean the course column, we will split each string and keep the abbreviated department name and course number. We will also create new columns that hold these values for later use and remove the class title section denoted by the '(A)'.

In [5]:
# Department Code
capes_df['Subject Code'] = capes_df['Course'].str.split().str.get(0)
capes_df

# Course Number
def get_courseNumber(course):
    return course.split(' ')[1]
capes_df['Course Number'] = capes_df['Course'].apply(get_courseNumber)

# Course
def clean_course(course):
    return course.split('(')[0]  
capes_df['Course'] = capes_df['Course'].apply(clean_course)
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received,Subject Code,Course Number
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies,SP23,2.80,B+ (3.67),AAS,10
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research,SP23,2.50,A- (3.92),AAS,170
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ,SP23,3.83,B (3.07),ANAR,115
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica,SP23,5.17,A (4.00),ANAR,155
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution,SP23,2.50,B- (2.95),ANBI,111

Next, we will also cateogrize the course numbers by division.

In [6]:
# Remove rows that contain NaN
capes_df = capes_df.dropna(subset=['Course Number'])

# Function to categorize course numbers by division
def categorize_course(number):
    num_str = re.sub('[^0-9]', '', number)  # Remove non-numeric characters
    num = int(num_str)
    if 1 <= num <= 99:
        return 'Lower'
    elif 100 <= num <= 199:
        return 'Upper'
    elif num >= 200:
        return 'Grad'
    else:
        return 'unknown' # Sanity check

# Apply the function to create a new column for course division
capes_df['Course Division'] = capes_df['Course Number'].apply(categorize_course)
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received,Subject Code,Course Number,Course Division
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies,SP23,2.80,B+ (3.67),AAS,10,Lower
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research,SP23,2.50,A- (3.92),AAS,170,Upper
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ,SP23,3.83,B (3.07),ANAR,115,Upper
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica,SP23,5.17,A (4.00),ANAR,155,Upper
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution,SP23,2.50,B- (2.95),ANBI,111,Upper

### Extracting GPA Values
Because quantitative values are more helpful in data analysis, we need to create a new column to hold the GPA values (without the letter grades).

In [7]:
# Average GPA
capes_df['Average Grade Received'] = capes_df['Average Grade Received'].str.extract(r'\((.*?)\)').astype(float)
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received,Subject Code,Course Number,Course Division
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies,SP23,2.80,3.67,AAS,10,Lower
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research,SP23,2.50,3.92,AAS,170,Upper
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ,SP23,3.83,3.07,ANAR,115,Upper
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica,SP23,5.17,4.00,ANAR,155,Upper
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution,SP23,2.50,2.95,ANBI,111,Upper

### Clean Quarter Column and Extract Data
Since the dataset consists of course data from 2007 to 2023, each quarter term has a unique value. Therefore, we will need to categorize the courses by these generalized terms: Spring, Special Summer Session, Summer, Fall, and Winter.

In [8]:
# List all unique terms
capes_df['Quarter'].unique()

# Function to identify which term each course was taught in
def get_term(quarter):
    term = {'SP': 'Spring', 
            'S1': 'Special Summer Session 1', 
            'S2': 'Special Summer Session 2', 
            'S3': 'Special Summer Session 3',
            'SU': 'Summer', 
            'FA': 'Fall', 
            'WI': 'Winter'}
    
    key = quarter[:2]
    return term[key]

capes_df['Academic Term'] = capes_df['Quarter'].apply(get_term)
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received,Subject Code,Course Number,Course Division,Academic Term
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies,SP23,2.80,3.67,AAS,10,Lower,Spring
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research,SP23,2.50,3.92,AAS,170,Upper,Spring
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ,SP23,3.83,3.07,ANAR,115,Upper,Spring
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica,SP23,5.17,4.00,ANAR,155,Upper,Spring
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution,SP23,2.50,2.95,ANBI,111,Upper,Spring

We will also create a new column for the year that the course was taught.

In [9]:
# Function to categorize quarter terms into years
# We know that are dataset is in the 20s therefore we just concat 20
def get_year(quarter):
    return ("20" + quarter[2:])

capes_df['Academic Year'] = capes_df['Quarter'].apply(get_year)
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received,Subject Code,Course Number,Course Division,Academic Term,Academic Year
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies,SP23,2.80,3.67,AAS,10,Lower,Spring,2023
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research,SP23,2.50,3.92,AAS,170,Upper,Spring,2023
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ,SP23,3.83,3.07,ANAR,115,Upper,Spring,2023
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica,SP23,5.17,4.00,ANAR,155,Upper,Spring,2023
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution,SP23,2.50,2.95,ANBI,111,Upper,Spring,2023

### Creating Department Column

In [10]:
capes_df['Subject Code'].unique()

array(['AAS', 'ANAR', 'ANBI', 'ANSC', 'ANTH', 'AWP', 'BENG', 'BIBC',
       'BICD', 'BIEB', 'BILD', 'BIMM', 'BIPN', 'BISP', 'CAT', 'CENG',
       'CGS', 'CHEM', 'CHIN', 'COGS', 'COMM', 'CSE', 'CSS', 'DOC', 'DSC',
       'DSGN', 'ECE', 'ECON', 'EDS', 'ENG', 'ENVR', 'ESYS', 'ETHN',
       'FMPH', 'GLBH', 'HDS', 'HIAF', 'HIEA', 'HIEU', 'HIGL', 'HILA',
       'HILD', 'HINE', 'HISC', 'HITO', 'HIUS', 'HUM', 'INTL', 'JAPN',
       'LATI', 'LIGN', 'LIHL', 'LTAM', 'LTEA', 'LTEN', 'LTEU', 'LTKO',
       'LTLA', 'LTSP', 'LTWL', 'LTWR', 'MAE', 'MATH', 'MGT', 'MMW', 'MUS',
       'NANO', 'PHIL', 'PHYS', 'POLI', 'PSYC', 'RELI', 'SE', 'SIO',
       'SOCI', 'SYN', 'TDAC', 'TDDE', 'TDDR', 'TDGE', 'TDHT', 'TDMV',
       'TDPF', 'TDPR', 'TDTR', 'USP', 'VIS', 'WCWP', 'CCS', 'GSS', 'LTCH',
       'LTTH', 'LTCS', 'LTGK', 'LTGM', 'TDDM', 'LAWS', 'ERC', 'TDPW',
       'JWSP', 'LTFR', 'LTRU', 'HMNR', 'TWS', 'LTIT', 'HDP', 'ELWR',
       'FPMU', 'ICAM', 'TDHD', 'JUDA', 'COCU', 'COGN', 'COHI', 'COMT',
       'COSF', 'TDCH', 'TMC', 'LTAF', 'SOCE', 'STPA', 'SOCA', 'SOCB',
       'SOCC', 'SOCD', 'SOCL'], dtype=object)

In [11]:
department_dict = {
    'AAS': 'African American Studies', 
    'ANAR': 'Anthropology', 
    'ANBI': 'Anthropology', 
    'ANSC': 'Anthropology', 
    'ANTH': 'Anthropology',
    'AWP': 'Analytical Writing Program',
    'BENG': 'Bioengineering',
    'BIBC': 'Biology',
    'BICD': 'Biology',
    'BIEB': 'Biology',
    'BILD': 'Biology', 
    'BIMM': 'Biology', 
    'BIPN': 'Biology', 
    'BISP': 'Biology', 
    'CAT': 'Sixth College Academic Programs', 
    'CENG': 'NanoEngineering Program', 
    'CGS': 'Critical Gender Studies',
    'CHEM': 'Chemistry & Biochemistry',
    'CHIN': 'Chinese Studies',
    'COGS': 'Cognitive Science',
    'COMM': 'Communication',
    'CSE': 'Computer Science and Engineering',
    'CSS': 'Cognitive Science', 
    'DOC': 'Dimensions of Culture Program',
    'DSC': 'Data Science',
    'DSGN': 'Cognitive Science',
    'ECE': 'Electrical and Computer Engineering',
    'ECON': 'Economics',
    'EDS': 'Education Studies',
    'ENG': 'Computer Science & Engineering',
    'ENVR': 'Environmental Studies',
    'ESYS': 'Environmental Systems',
    'ETHN': 'Ethnic Studies', 
    'FMPH': 'Public Health',
    'GLBH': 'Global Health Program',
    'HDS': 'Human Developmental Sciences',
    'HIAF': 'History',
    'HIEA': 'History',
    'HIEU': 'History',
    'HIGL': 'History',
    'HILA': 'History',
    'HILD': 'History',
    'HINE': 'History', 
    'HISC': 'History',
    'HITO': 'History',
    'HIUS': 'History',
    'HUM': 'Humanities',
    'INTL': 'International Studies',
    'JAPN': 'Japanese Studies',
    'LATI': 'Latin American Studies',
    'LIGN': 'Linguistics',
    'LIHL': 'Linguistics',
    'LTAM': 'Literature',
    'LTEA': 'Literature',
    'LTEN': 'Literature',
    'LTEU': 'Literature', 
    'LTKO': 'Literature',
    'LTLA': 'Literature', 
    'LTSP': 'Literature', 
    'LTWL': 'Literature', 
    'LTWR': 'Literature',
    'MAE': 'Mechanical and Aerospace Engineering', 
    'MATH': 'Mathematics', 
    'MGT': 'Rady School of Management', 
    'MMW': 'Making of the Modern World', 
    'MUS': 'Music', 
    'NANO': 'Nanoengineering', 
    'PHIL': 'Philosophy', 
    'PHYS': 'Physics', 
    'POLI': 'Political Science', 
    'PSYC': 'Psychology', 
    'RELI': 'Study of Religion',
    'SE': 'Structural Engineering', 
    'SIO': 'Scripps Institution of Oceanography', 
    'SOCI': 'Sociology', 
    'SYN': 'Synthesis Program', 
    'TDAC': 'Theatre and Dance', 
    'TDDE': 'Theatre and Dance', 
    'TDDR': 'Theatre and Dance', 
    'TDGE': 'Theatre and Dance', 
    'TDHT': 'Theatre and Dance', 
    'TDMV': 'Theatre and Dance', 
    'TDPF': 'Theatre and Dance',
    'TDPR': 'Theatre and Dance', 
    'TDTR': 'Theatre and Dance', 
    'USP': 'Urban Studies & Planning Prog', 
    'VIS': 'Visual Arts', 
    'WCWP': 'Warren College Writing Program', 
    'CCS': 'Scripps Institution of Oceanography', 
    'GSS': 'Global South Studies', 
    'LTCH': 'Literature', 
    'LTTH': 'Literature', 
    'LTCS': 'Literature', 
    'LTGK': 'Literature',
    'LTGM': 'Literature', 
    'TDDM': 'Theatre and Dance', 
    'LAWS': 'Law and Society', 
    'ERC': 'Eleanor Roosevelt College', 
    'TDPW': 'Theatre and Dance', 
    'JWSP': 'Jewish Studies', 
    'LTFR': 'Literature', 
    'LTRU': 'Literature', 
    'HMNR': 'Human Rights', 
    'TWS': 'Global South Studies',
    'LTIT': 'Literature', 
    'HDP': 'Human Developmental Sciences', 
    'ELWR': 'Entry Level Writing Requirement', 
    'FPMU': 'Family Medicine', 
    'ICAM': 'Visual Arts', 
    'TDHD': 'Theatre and Dance', 
    'JUDA': 'Jewish Studies', 
    'COCU': 'Communication and Culture',
    'COGN': 'Communication', 
    'COHI': 'Communication',
    'COMT': 'Communication', 
    'COSF': 'Communication', 
    'TDCH': 'Theatre and Dance', 
    'TMC': 'Thurgood Marshall College', 
    'LTAF': 'Literature', 
    'SOCE': 'Sociology', 
    'STPA': 'Political Science', 
    'SOCA': 'Sociology', 
    'SOCB': 'Sociology', 
    'SOCC': 'Sociology',
    'SOCD': 'Sociology', 
    'SOCL': 'Sociology',
}

In [12]:
def get_department(subject):
    return department_dict[subject]

capes_df['Department'] = capes_df['Subject Code'].apply(get_department)
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received,Subject Code,Course Number,Course Division,Academic Term,Academic Year,Department
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies,SP23,2.80,3.67,AAS,10,Lower,Spring,2023,African American Studies
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research,SP23,2.50,3.92,AAS,170,Upper,Spring,2023,African American Studies
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ,SP23,3.83,3.07,ANAR,115,Upper,Spring,2023,Anthropology
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica,SP23,5.17,4.00,ANAR,155,Upper,Spring,2023,Anthropology
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution,SP23,2.50,2.95,ANBI,111,Upper,Spring,2023,Anthropology

In [13]:
capes_df['Department'].unique()

array(['African American Studies', 'Anthropology',
       'Analytical Writing Program', 'Bioengineering', 'Biology',
       'Sixth College Academic Programs', 'NanoEngineering Program',
       'Critical Gender Studies', 'Chemistry & Biochemistry',
       'Chinese Studies', 'Cognitive Science', 'Communication',
       'Computer Science and Engineering',
       'Dimensions of Culture Program', 'Data Science',
       'Electrical and Computer Engineering', 'Economics',
       'Education Studies', 'Computer Science & Engineering',
       'Environmental Studies', 'Environmental Systems', 'Ethnic Studies',
       'Public Health', 'Global Health Program',
       'Human Developmental Sciences', 'History', 'Humanities',
       'International Studies', 'Japanese Studies',
       'Latin American Studies', 'Linguistics', 'Literature',
       'Mechanical and Aerospace Engineering', 'Mathematics',
       'Rady School of Management', 'Making of the Modern World', 'Music',
       'Nanoengineering', 'Philosophy', 'Physics', 'Political Science',
       'Psychology', 'Study of Religion', 'Structural Engineering',
       'Scripps Institution of Oceanography', 'Sociology',
       'Synthesis Program', 'Theatre and Dance',
       'Urban Studies & Planning Prog', 'Visual Arts',
       'Warren College Writing Program', 'Global South Studies',
       'Law and Society', 'Eleanor Roosevelt College', 'Jewish Studies',
       'Human Rights', 'Entry Level Writing Requirement',
       'Family Medicine', 'Communication and Culture',
       'Thurgood Marshall College'], dtype=object)

In [14]:
len(capes_df['Department'].unique())

60

### Creating School Affiliation Column
This column provided a lot of difficulty for us as there was a lot of overlap between departments and schools. Some departments were a part of multiple schools IE: Economy being influential in the School of Global Police & Strategy and Rady School of Management. In order to combat this we decided to just put 1 department in each school. Another issue was courses changing over the years or courses being discontinued in which finding and categorizing them became difficult.

Here are the cases in which we grouped courses that didn't match with the school departments descriptions and edited some courses: 
* Overlap between Global Policy & Strategy and Rady School of Management for economy as a result we put economy in Global Policy & Strategy
* HDS and HDP are the same department renamed 
* SOCA, SOCB, SOCC, SOCD, SOCL are old Sociology courses therefore we group with Sociology
* COCU, COGN, COHI, COMT, COSF are old Communication courses therefore we group with Communication
* Group DSGN with COGS
* ENVR and ESYS are both Environmental Studies courses
* Put intro writing, Scripps, Environmental Studies into UCSD 
* Some courses like ERC are college affilated therefore these courses will be categorized by college instead of school

In [15]:
# School of Arts and Humanities Courses
school_arts_humanities = {'AWP', 'AAS', 'CHIN', 'JAPN', 'JUDA', 'TWS', 'JWSP', 'HIAF', 'HIEA', 'HIEU', 
'HIGL', 'HILA', 'HILD', 'HINE', 'HISC', 'HITO', 'HIUS', 'HUM', 'LTAM', 'LTEA', 'LTEN', 'LTEU', 
'LTKO', 'LTLA', 'LTSP', 'LTWL', 'LTWR', 'MUS', 'PHIL', 'RELI', 'TDAC', 'TDDE', 'TDDR', 'TDGE', 
'TDHT', 'TDMV', 'TDPF', 'TDPR', 'TDTR', 'VIS', 'LTCH', 'LTTH', 'LTCS', 'LTGK', 'LTGM', 'TDDM', 
'TDPW', 'LTFR', 'LTRU', 'LTIT', 'ICAM', 'TDHD', 'TDCH', 'LTAF', 'ELWR'}

# School of Biological Sciences Courses
school_biological_sciences = {'BILD', 'BIBC', 'BICD', 'BIEB', 'BIMM', 'BIPN', 'BISP', 'FMPH', 'FPMU'}

# School of Global Policy & Strategy Courses
school_policy_strategy = {'POLI', 'ECON', 'MMW', 'GSS', 'LAWS'}

# Jacobs School of Engineering Courses
jacobs_school_engineering = {'SE', 'CSE', 'ECE', 'MAE', 'CENG', 'NANO', 'ENG', 'BENG'}

# School of Physical Sciences Courses
school_physical_sciences = {'CHEM', 'MATH', 'PHYS'}

# Rady School of Management Courses
rady_school_management = {'INTL', 'MGT', 'STPA'}

# School Of Social Sciences Courses
school_social_science = {'ANAR', 'ANBI', 'ANSC', 'ANTH', 'COGS', 'CSS', 'COMM', 'CGS', 'EDS', 'ETHN', 'GLBH', 'HDP', 'HDS', 
'LATI', 'LIGN', 'LIHL', 'LISP', 'PSYC', 'SOCE', 'SOCI', 'SOCA', 'SOCB', 'SOCC', 'SOCD', 'SOCL', 'USP', 'COCU', 'COGN', 
'COHI', 'COMT', 'COSF', 'DSGN', 'HMNR'}

# Halıcıoğlu Data Science Institute (HDSI) Courses
hdsi = {'DSC'}

# Scripps Institution of Oceanography Courses
scripps = {'SIO', 'CCS', 'ESYS'}

# Marshall College Courses
marshall = {'DOC', 'TMC'}

# Seventh College Courses
seventh = {'SYN'}

# Sixth College Courses
sixth = {'CAT'}

# Warren College Courses
warren = {'WCWP'}

# ERC Courses
erc = {'ERC'}

# Muir College Courses
muir = {'ENVR'}

school_dict = {
    'School of Arts and Humanities': school_arts_humanities, 
    'School of Biological Sciences': school_biological_sciences, 
    'School of Global Policy & Strategy': school_policy_strategy,
    'Jacobs School of Engineering': jacobs_school_engineering,
    'School of Physical Sciences': school_physical_sciences,
    'Rady School of Management': rady_school_management,
    'School Of Social Sciences': school_social_science,
    'Halıcıoğlu Data Science Institute': hdsi,
    'Scripps Institution of Oceanography': scripps,
    'Marshall College': marshall,
    'Seventh College': seventh,
    'Sixth College': sixth,
    'Warren College': warren,
    'ERC': erc,
    'Muir College': muir,
}

def find_school(course):
    for school, courses_list in school_dict.items():
        if course in courses_list:
            return school
    return 'UCSD'

capes_df['School Affiliation'] = capes_df['Subject Code'].apply(find_school)
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received,Subject Code,Course Number,Course Division,Academic Term,Academic Year,Department,School Affiliation
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies,SP23,2.80,3.67,AAS,10,Lower,Spring,2023,African American Studies,School of Arts and Humanities
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research,SP23,2.50,3.92,AAS,170,Upper,Spring,2023,African American Studies,School of Arts and Humanities
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ,SP23,3.83,3.07,ANAR,115,Upper,Spring,2023,Anthropology,School Of Social Sciences
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica,SP23,5.17,4.00,ANAR,155,Upper,Spring,2023,Anthropology,School Of Social Sciences
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution,SP23,2.50,2.95,ANBI,111,Upper,Spring,2023,Anthropology,School Of Social Sciences

### Remove Fall 2022

In [16]:
# Number of observations before filtering
len(capes_df)

45735

In [17]:
capes_df = capes_df[(capes_df['Academic Year'] != 2022) & (capes_df['Academic Term'] != 'Fall')]
capes_df.head()

,Instructor,Course,Quarter,Study Hours per Week,Average Grade Received,Subject Code,Course Number,Course Division,Academic Term,Academic Year,Department,School Affiliation
0,Butler Elizabeth Annette,AAS 10 - Intro/African-American Studies,SP23,2.80,3.67,AAS,10,Lower,Spring,2023,African American Studies,School of Arts and Humanities
1,Butler Elizabeth Annette,AAS 170 - Legacies of Research,SP23,2.50,3.92,AAS,170,Upper,Spring,2023,African American Studies,School of Arts and Humanities
3,Shtienberg Gilad,ANAR 115 - Coastal Geomorphology/Environ,SP23,3.83,3.07,ANAR,115,Upper,Spring,2023,Anthropology,School Of Social Sciences
4,Braswell Geoffrey E.,ANAR 155 - Stdy Abrd: Ancient Mesoamerica,SP23,5.17,4.00,ANAR,155,Upper,Spring,2023,Anthropology,School Of Social Sciences
5,Hrvoj Mihic Branka,ANBI 111 - Human Evolution,SP23,2.50,2.95,ANBI,111,Upper,Spring,2023,Anthropology,School Of Social Sciences

In [18]:
# Number of observations after filtering
len(capes_df)

32468

# Ethics & Privacy

Regarding the project's ethics and privacy, we will guarantee that our approach respects ethics and privacy issues while remaining lawful and fair throughout the development of our project. We will acknowledge that there may be unintended use of our data and results which we will heavily discourage and address here and throughout our project. The data that we've suggested can also carry some inherent biases in which the selection or omission of specific variables can potentially lead us to overlook certain factors while placing excessive emphasis on others.

For instance, by focusing mainly on how ChatGPT affects students' grades, we might undervalue the impact of COVID-19 on academic performance. Specifically, during the years leading up to ChatGPT’s release, many courses were taught online or in hybrid settings, which may have affected students’ learning experience. Additionally, because ChatGPT was released in the middle of Fall 2022, the influence of ChatGPT may or may not have an effect on grades during this quarter which can influence the comparison of grades pre and post ChatGPT. Furthermore, the data is dependent on professors’ willingness to report average grades as some classes will/can be removed due to professors not reporting grades. Another example includes professors’ teaching style as it can heavily impact student performance as well and a teacher may or may not teach the same class for multiple quarters which can affect grades as a teacher can get better at teaching over time. 

To overcome these biases and confounds, our approach involves creating multiple subgroups for a more detailed exploration of the data. We can actively assess the effects of ChatGPT between departments, schools, or course levels to control for these confounds. Additionally, we can consider grouping by quarter or by class which can help limit the confounds. We can also try to explore other subgroups and acknowledge limitations within our EDA if necessary.
Concerning potential issues related to data privacy and equitable impact in our topic area, we recognize the risk of influencing students’ and professors’ opinion towards ChatGPT. It can also produce doubts on whether students are taking classes at UCSD with academic honesty and integrity. However, given that student enrollment is anonymous in the dataset, data privacy concerns are minimal but we will still emphasize and discourage the use of our research for this intent. Furthermore, this dataset is specific towards UCSD students which we will emphasize that our research should not be used to generalize all students including those outside of UCSD. 

In the context of privacy of the data, the data utilized for our project was sourced from a publicly available dataset created by a UCSD student. This dataset consists of all the data webscrapped from CAPES, which is UCSD’s previous evaluation system that was recently replaced by SETS during the summer of 2023. Because CAPES is designated for academic and educational purposes, the data ensure privacy and anonymity for students represented in the data. Our use complies with all relevant institutional and legal standards, maintaining the integrity and respecting the contributions of the data.

# Team Expectations

* *Maintain open and regular communication to keep all team members informed and engaged.*
* *Take responsibility for your contributions, acknowledging both successes and areas for improvement.*
* *Work collaboratively, offering and seeking support to leverage the team's collective strengths.*
* *Acknowledge the importance of personal time, promoting flexibility to enhance well-being and productivity.*
* *Prioritize transparency, especially during busy periods, to manage expectations and maintain trust.*
* *Cultivate a collaborative and supportive team Eevironment, prioritizing reliability, accountability, respect, openness to feedback, and a willingness to learn from mistakes*

# Project Timeline Proposal

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discussed at Meeting |
|---|---|---|---|
| 2/6  |  1 PM |  Do our own research on potential topic | Find and discuss topics; Choose a topic; Start looking at related datasets; Assign group members to complete each section of the project proposal | 
| 2/20  | 1 PM  | Find datasets correponding to the different time periods we want to analyze  | Discuss which datasets we want to use and how we will compile our data; Select datasets that we want to use and assign each person to think about how we will clean the data   |
| 2/24  | 4 PM  | Think about what datasets are compatible | Review/Edit wrangling/EDA (and review for submission); Discuss Analysis Plan  |
| 2/25  | Before 11:59 PM  | Review project checkpoint | Turn in Checkpoint #1: Data |
| 2/27  | 1 PM  | Think about analysis details and what we need to complete | Discuss analysis; Assign subtasks for data analysis; Complete project check-in |
| 3/5   | 1 PM   | Review analysis and draft conclusion points | Discuss/edit full project; Assign remaining necessary tasks |
| 3/7   | 1 PM   | Continue to work on analysis | RESTART PROJECT |
| 3/9   | 1 PM   | Finish rewriting project proposal and data checkpoint #1 | Discuss EDA and aim to finish soon |
| 3/10  | Before 11:59 PM  | Review project EDA | Turn in Checkpoint #2: EDA |
| 3/12  | 1 PM   | Continue to work on final tasks | Review project; Discuss points of improvement |
| 3/20  | Before 11:59 PM  | Finalize project | Turn in Final Project & Group Project Surveys |